# .env.example
NEXT_PUBLIC_SUPABASE_URL=https://kukxcqwnogmpjqwkumfq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt1a3hjcXdub2dtcGpxd2t1bWZxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwNDcyNjAsImV4cCI6MjA5MTYyMzI2MH0.WMltGjQGeUmHE3YVubCdjoHMYglx4yagQ3IRQkPNNE8
